{% extends "base/base.html" %}

{% block title %}予約{% endblock %}

{% block main_padding %}pt-24{% endblock %}

{% block content %}
{% include 'base/header.html' %}
<div class="flex flex-col items-center mx-auto w-full max-w-xl">

  <div class="flex flex-col items-center mb-10 w-full">
    <a
      type="submit"
      class="flex items-center justify-center bg-green-500 text-white text-center p-2 rounded-md w-32 mb-5"
      {% if not reservation_draft %}
        href="{% url 'user:reservation_calendar' %}?week_offset=0&seat=1"
      {% endif %}
    >
      <span class="material-symbols-outlined">
        calendar_month
      </span>
      座席予約
    </a>

    <div class="w-full rounded-md">
        {% if reservation_draft %}
          <div class="flex justify-center w-10/12 mx-auto items-center">

            <div class="flex w-full bg-gray-100 border rounded-md mb-2">
              <div class="w-full">
                <div class="flex w-full text-center items-center">
                  <div class="w-1/4">予約日時</div>
                  <div class="w-3/4 border-l border-r">
                    {{ reservation_draft.date }} {{ reservation_draft.time_start }} ~ {{ reservation_draft.time_end }}
                  </div>
                </div>

                <div class="flex w-full text-center items-center">
                  <div class="w-1/4">座席番号</div>
                  <div class="w-3/4 border-l border-r">
                    {{ reservation_draft.seat_number }}
                  </div>
                </div>
              </div>

              <form 
                action="{% url 'user:delete_reservation_draft' reservation_draft.id %}"
                method="post"
                class="flex items-center justify-center"
              >
                {% csrf_token %}
                <button class="flex items-center justify-center p-2">
                  <span class="material-symbols-outlined text-gray-500">
                    remove
                  </span>
                </button>
              </form>
            </div>

          </div>
      {% else %}
        <div class="text-center text-gray-500">
          予約する座席を選択してください
        </div>
      {% endif %}
    </div>
  </div>

  <div class="flex flex-col items-center h-auto w-full">
    <a
      type="submit"
      class="flex items-center justify-center bg-green-500 text-white text-center p-2 rounded-md w-32 mb-5"
      href="{% url 'user:reservation_pre_order' %}"
    >
      <span class="material-symbols-outlined">
        shopping_cart
      </span>
      商品カート
    </a>
    <p class="text-sm text-red-500">事前オーダーで商品価格10%off！</p>

    {% if cart_items %}
      <div class="w-10/12 mx-auto rounded-md">
        {% for cart_item in cart_items %}
          <div class="flex items-center border rounded-md bg-gray-100 mb-2">

            <div class="w-3/5">{{ cart_item.product.name }}</div>
            <div class="flex w-2/5">
              <div class="border-l w-2/5 text-center">{{ cart_item.quantity }}点</div>
              <div class="flex items-center w-3/5">
                <div class="text-sm border-l w-1/2 text-center" style="text-decoration: line-through double; text-decoration-color: #EF4444;" >
                  ¥{{ cart_item.total }}
                </div>
                <div class="w-1/2 text-center">
                  ¥{{ cart_item.total_after_discount }}
                </div>
              </div>
            </div>

            <form method="post" action="{% url 'user:delete_cart_item' cart_item.id %}">
              {% csrf_token %}
              <button class="flex items-center justify-center border-l p-2">
                <span class="material-symbols-outlined text-gray-500">
                  remove
                </span>
              </button>
            </form>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div class="w-full text-center text-gray-500">カートは空です</div>
    {% endif %}
  </div>
  {% with back_url="user:home" next_text="確認" next_url=reservation_draft|yesno:"user:reservation_confirm,user:reservation_main" %}
    {% include 'base/footer.html' %}
  {% endwith %}
</div>
{% endblock%}
