{% extends "base/base.html" %}

{% block title %}予約内容確認{% endblock %}

{% block main_padding %}pt-24{% endblock %}

{% block content %}
{% include 'base/header.html' %}
<div class="flex flex-col mx-auto w-full max-w-xl">

  <div class="flex flex-col items-center mb-10 w-full">
    <p class="h-auto text-2xl mb-10 font-bold">予約内容をご確認ください</p>
    <div class="w-10/12 border bg-gray-100 rounded-md">
      <div class="flex w-full border-b">
        <div class="w-2/5">予約日時：</div>
        <div class="w-3/5 text-center">
          {{ reservation_draft.date }} {{ reservation_draft.time_start }} ~ {{ reservation_draft.time_end }}
        </div>
      </div>

      <div class="flex w-full">
        <div class="w-1/3">座席番号：</div>
        <div class="w-2/3 text-center">
          {{ reservation_draft.seat_number }}
        </div>
      </div>
    </div>
  </div>
    
  <div class="flex flex-col h-auto w-10/12 mx-auto">

    <div class="w-full border bg-gray-100 rounded-md">
      <div class="border-b">事前オーダー：</div>
        {% for cart_item in cart_items %}
        <div class="flex w-full">
          <div class="w-2/4">{{ cart_item.product.name }}</div>
          <div class="w-1/4 text-center">{{ cart_item.quantity }}点</div>
          <div class="w-1/4 text-center">¥{{ cart_item.total }}</div>
        </div>
        {% endfor %}


      <div class="flex w-full border-t bg-gray-200">
        <div class="w-3/4">小計</div>
        <div class="w-1/4 text-center">¥{{ reservation_draft.cart_total }}</div>
      </div>

      <div class="flex w-full border-t">
        <div class="w-3/4">事前オーダー値引き(10%)</div>
        <div class="w-1/4 text-center">-¥{{ reservation_draft.cart_discount_amount }}</div>
      </div>

      <div class="flex w-full border-t bg-gray-200">
        <div class="w-3/4">小計</div>
        <div class="w-1/4 text-center">¥{{ reservation_draft.cart_total_after_discount }}</div>
      </div>

      <div class="flex w-full border-t">
        <div class="w-3/4">消費税(10%)</div>
        <div class="w-1/4 text-center">¥{{ reservation_draft.cart_tax_amount }}</div>
      </div>

      <div class="flex w-full border-t-2 text-xl font-bold bg-gray-200">
        <div class="w-2/4">合計</div>
        <div class="w-1/4 text-center">{{ reservation_draft.item_count }}点</div>
        <div class="w-1/4 text-center">¥{{ reservation_draft.cart_total_with_tax }}</div>
      </div>

    </div>
  </div>
  <form method="post" action="{% url 'user:reservation_done' %}" id="reservationForm">
    {% csrf_token %}
    {% with back_url="user:reservation_main" next_text="予約確定" next_color="bg-green-500" form_id="reservationForm" %}
      {% include 'base/footer.html' %}
    {% endwith %}
  </form>
</div>
{% endblock%}