{% extends "base/base.html" %}

{% block title %}予約履歴{% endblock %}

{% block main_padding %}pt-24{% endblock %}

{% block content %}
{% include 'base/header.html' %}
<div class="flex flex-col items-center mx-auto w-full max-w-3xl">
  {% if reservations %}
    <table class="w-full">
      <thread>
        <tr class="bg-gray-300">
        <th class="border border-gray-200">予約番号</th>
        <th class="border border-gray-200">予約日時</th>
        <th class="border border-gray-200">座席番号</th>
        <th class="border border-gray-200">金額</th>
        <th class="border border-gray-200">取り消し</th>
      </thread>
      <tbody class="text-center">
        {% for reservation in reservations %}
          <tr>
            <td class="border border-gray-200">{{ reservation.id }}</td>
            <td class="border border-gray-200">{{ reservation.date }} {{ reservation.start_time }} ~ {{ reservation.end_time }}</td>
            <td class="border border-gray-200">{{ reservation.seat_id }}</td>
            <td class="border border-gray-200">¥{{ reservation.total_price }}</td>
            <td class="border border-gray-200">
              <input type="checkbox" class="w-4 h-4">
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>予約がありません</p>
  {% endif %}
  {% with back_url="user:home" %}
    {% include 'base/footer2.html' %}
  {% endwith %}
</div>
{% endblock%}