<div class="tex-white h-12 w-full flex justify-end items-center mt-12">
  <div class="flex">
    <div class="flex">
      <a
        href="{% url back_url%}"
        class="bg-gray-500 flex justify-center items-center text-white rounded-md w-20 h-10 mr-3"
      >
      戻る
      </a>
    </div>
    <div class="flex">
      <a
        href="{% url next_url %}"
        class="{{ next_color|default:'bg-blue-500' }} flex justify-center items-center text-white rounded-md w-20 h-10"
      >
      {{ next_text|default:'次へ' }}
      </a>
    </div>
  </div>
</div>