<header class="fixed top-0 left-0 right-0 border-b-2 bg-gray-800 bg-opacity-50 backdrop-blur-md text-black h-12 flex items-center justify-between z-10">
  <div class="ml-3">ようこそ、{{ user.username }}さん</div>
  <div class="flex">
    <div class="flex">
      <a
        href="{% url 'user:home' %}"
        class="bg-blue-500 flex justify-center items-center text-white rounded-md w-20 h-10 mr-3"
      >
      Home
      </a>
    </div>
    <div class="flex">
      <a
        href="{% url 'accounts:logout'%}"
        class="bg-gray-500 flex justify-center items-center text-white rounded-md w-20 h-10 mr-3"
      >
      Logout
      </a>
    </div>
  </div>
</header>